<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956024111859-ecgkfpj422qvbql3gclmqho8bjthh857.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956024111859-ecgkfpj422qvbql3gclmqho8bjthh857</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>956024111859-li1h5q9fghmt6gt0ai8qvgfgra35h6sj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgBr-4s52K-Y0KSQjfATJPqMZKaM2bmg4</string>
	<key>GCM_SENDER_ID</key>
	<string>956024111859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogistudio.app</string>
	<key>PROJECT_ID</key>
	<string>sib-ceb2d</string>
	<key>STORAGE_BUCKET</key>
	<string>sib-ceb2d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956024111859:ios:450fc3ec2b2d04c088ed86</string>
</dict>
</plist>